[submodule "third_party/gfx"]
	path = third_party/gfx
	url = https://github.com/gboisse/gfx.git
[submodule "third_party/CLI11"]
	path = third_party/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "third_party/tinyexr"]
	path = third_party/tinyexr
	url = https://github.com/syoyo/tinyexr
[submodule "third_party/miniz"]
	path = third_party/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "assets/CapsaicinTestMedia"]
	path = assets/CapsaicinTestMedia
	url = ../CapsaicinTestMedia.git
